/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 4, 2014, 1:04:34 AM
    Author     : adamgray
*/

body{
    background-image:url('../images/page/nice_snow.png');
    background-repeat: repeat;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
    font-size: 12px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 12px;
}
a:hover{
    text-decoration: underline;
}

h1{
    color: #1F7E8C;
    font-size: 30px;
    font-weight: normal;
}

h2{
    color: #1F7E8C;
    font-size: 18px;
}
#nav{
    width: 1000px;
    margin: auto;
}
#nav ul{
    list-style-type:none;
    margin:0px 0px 3px -40px;
}

#nav li{
    display: inline-block;
    background-color: #1F7E8C;
    color: white;
    padding: 5px 10px 5px 10px;
}

#nav li:hover{
    background-color: #29A0B6;
}

#header{
    background-color: white;
    box-shadow: 0px 5px 5px #888888;
    width: 1000px;
    height: 75px;
    margin: auto;
    padding-top: 50px;
}

.search-bar{
    width: 390px;
    -webkit-appearance: none;
    border: 0;
    outline: none;
    outline-offset: 0;
    background-color:transparent;

}

.search-bar-box{
    display: inline-block;
    width: 400px;
    background-color: #EEEEEE;
    height: 30px;
    font-size: 20px;
    font-weight: 300; 
}

.button-green{
    display: inline-block;
    background-color: #1F7E8C;
    font-size: 14px;
    width: 80px;
    height: 30px;
    border: none;
    padding: 5px;
    color: white;
}

.button-green:hover{
    background-color: #29A0B6;
}

#header-left{
    display: inline-block;
    width: 250px;
    text-align: center;
}

#header-middle{
    display: inline-block;
    width: 700px;
    text-align: center;
}
#contentContainer{
    background-color: white;
    box-shadow: 0px 5px 5px #888888;
    width: 1000px;
    max-width: 1000px;
    margin: auto;
}

#content{
    display: inline-block;
    margin: 0px;
    max-width: 1000px;
    
}

#contentSide{
    display: inline-block;
    width: 250px;
    margin-left: 15px;
    margin-right: 30px;
}

.container-headings{
    color: #1F7E8C;
    font-size: 24px;
}

.normal-light-grey{
    color: #999999;
    font-size: 12px;
}

.normal-light-green{
    color: #1F7E8C;
    font-size: 12px;
}

.think-dark-green-med{
    color: #1F7E8C;
    font-weight: 700;
}

.normal-dark-grey-thin{
    color: #888888;
    font-size: 18px;
    font-weight: 500;
}

.dark-green-bold{
    color: #1F7E8C;
    font-weight: bold;
}

.dark-yellow-bold{
    color: #D7B100;
    font-weight: bold;
}

.normal-bold{
    font-weight: bold;
    font-size: 12px;
}
#footer{
    background-color: #3c3b3b;
    box-shadow: 0px 5px 5px #888888;
    font-size: 10px;
    color: #b0adad;
    width: 1000px;
    margin: auto;
    padding: 10px 0px;
    clear: both;
}

#footer a{
    color: #b0adad;
    font-size: 10px;
}

#footer a:hover{
    color: white;
}

.blueberry{
    width: 1000px;
}

.clear-container{
    max-width: 600px;
    padding: 20px;
}

.black-container{
    background-color: #404040;
    color: white;
    width: 333px;
    margin-bottom: 75px;
    display: inline-block;
}

.green-container{
    background-color: #29A0B6;
    color: white;
    width: 334px;
    margin-bottom: 75px;
    display: inline-block;
}

.gold-container{
    background-color: #D7B100;
    color: white;
    width: 333px;
    margin-bottom: 75px;
    display: inline-block;
}

.container-content{
    padding: 5px 40px 20px 40px;
}

///////////////////////////////////////////////////
///////////////////////////////////////////////////
/////////////// PROPERTY PAGE CSS//////////////////
///////////////////////////////////////////////////
///////////////////////////////////////////////////

.gkug{
    
}

.title{
    font-size: 36px;
    color: #1F7E8C;
}

.price{
    font-size: 24px;
    color: #D7B100;
}

.subtitle{
    font-size: 24px;
    color: #646464;
}

.heading{
    font-size: 16px;
    color: #1F7E8C;
}

.subheading{
    font-size: 12px;
    color: #1F7E8C;
    font-weight: bold;
}

.button-green-property{
    background-color: #1F7E8C;
    height: 20px;
    max-width: 150px;
    margin-left: 1px;
    margin-bottom: 5px;
    margin-top: 15px;
    padding: 5px 15px 0px 15px;
    color:white;
    text-align: center;
    display: inline-block;
}

.button-green-property:hover{
    text-decoration: none;
}


#listOrder{
    width: 650px;
    height: 25px;
    background-color: #EEEEEE;
    padding: 10px;
    margin-bottom: 20px;
}

.listItem{
    width: 650px;
    border-top: 1px #EEEEEE solid;
    height: 100px;
    padding: 10px;
    margin-bottom: 30px;
}

.listItem:first-of-type{
    border: none;
}

.propertyImage{
    display: inline-block;
    float: left;
}

.propertyDetails{
    display: inline-block;
    float: right;
    margin: 3px 160px 10px 0px;
}

.list-address{
    color: #1F7E8C;
    font-weight: 300;
    font-size: 20px;
}

.list-address:hover{
    text-decoration: none;
}

.list-price{
    color: #D7B100;
}

.list-details{
    
}

.propertyForm{
    background-color: #EEEEEE;
    border-radius: 5px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


